mixin demo()
    h3.item(style="font-weight:bold") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo explicabo maiores possimus esse iste. Sit exercitationem magni optio quae. In officiis quas maiores, natus eligendi minima ipsum adipisci mollitia assumenda.