extends templates/layout

block content 
    h1.item Lorem ipsum dolor sit amet consectetur adipisicing elit. Error veritatis natus magni sapiente. Tenetur reprehenderit officia pariatur rem, quidem ratione est beatae temporibus? Magni, vitae. Neque rerum repellendus aut dolores!
